section {
  position: relative;
  width: 100%;
}

section h2 {
  color: #25723a;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.38em;
}

.max-width {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
}

.width-50 {
  width: 50%;
}

.padding-10 {
  padding: 10px;
}

.background-img {
  background-image: url("/vietservice/assets/images/gioi-thieu.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 145px 20px 145px 20px;
}

.stats {
  display: flex;
}

.opacity {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  background-color: #231834;
  opacity: 0.7;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.overlay {
  max-width: 1120px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 10px;
}

.overlay h1 {
  margin: 0;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  color: #fff;
  font-size: 72px;
  font-weight: 400;
  text-transform: uppercase;
}

.col-md-4 {
  font-size: 15px;
  font-weight: 400;
}

.display-4 {
  color: #25723a;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
}

.light {
  opacity: 0.5;
}

.devider {
  margin: 0 0 60px 0;
  padding: 0 10px 0 10px;
}
@media (max-width: 768px) {
  .overlay h1 {
    font-size: 48px;
  }
  .about-us {
    margin-top: 80px;
  }
}
