footer .container {
  padding: 20px;
  justify-content: center;
}

footer section {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .about-us img {
  max-width: 50%;
}

.about-element {
  width: 33.33%;
}
