.header {
  background-color: white;
  padding: 10px 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #ddd 1px solid;
}
.logo {
  height: 60px;
}

.nav-bar {
  display: flex;
  margin-left: auto;
}
.nav a {
  padding: 0 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 55px;
}
