.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.card-body {
  flex: none;
  padding: 0;
}

.card-text {
  font-size: 22px !important;
  font-weight: 500 !important;
  line-height: 1.39em !important;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  height: 61px;
}

.more {
  text-decoration: none;
  color: #25723a;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.39em;
}
.pagination {
  justify-content: center;
  margin: 20px 0 0 0;
  gap: 10px;
}

.page-link {
  color: #333;
}

.page-link:focus {
  background-color: #6db14c;
  border-color: #6db14c;
  box-shadow: 0 0 0 0.25rem rgba(110, 177, 76, 0.25);
  color: #fff;
}

.page-link:hover {
  background-color: #6db14c;
  border-color: #6db14c;
  color: #fff;
}

.active > .page-link,
.page-link.active {
  background-color: #6db14c;
  border-color: #6db14c;
  color: #fff;
}
